:root {
    --header-bg-color: #FFFFFF;
    --herofooter-bg-color: #2F303A;
    --body-bg-color: #FFFFFF;
    --team-bg-secondhead: #F5F4FA;
    --footer-adres-color: rgba(255, 255, 255, 0.6);

    --web-link-color: #2196F3;
    --darkmain-color: #000000;

    --text-main-color: #212121;
    --text-cecond-color: #757575;

    --hover-color: #188CE8;
    --Footer-adress: #ACACB0;
    --ctroke-color: #ECECEC;

    --border-color: #EEEEEE;
    }

    /*=============== Body properties================ */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--body-bg-color);
    color: var(--text-main-color);
    font-size: 14px;
    line-height: 2;
    }
    /* ============================================== */
    h1, h2, h3, h4, h5, h6, p, ul{
        margin-top: 0;
        margin-bottom: 0;
        
    }

    /*============= description =====================*/
    .description{
        padding-top: 23px;
    }

    .description-second-title, .team-section-title {
        margin-bottom: 10px;
    }
    .description-list{
    display: flex;
    justify-content: space-between;

       }

    ul.description-list{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    /* .description-item:last-child,
    {    margin-right: 0px;
    } */
        .description-item{
    width: 270px;   
    }
    .description-container{
        margin-bottom: 94px;
    }
    /*==============================================*/
    
    /*============= about =====================*/
    .about-list{
    display: flex;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    }
    ul.about-list{
    padding-left: 0px;
    padding-right: 0px;
    }
    .about-item{
    width: 370px;
    margin-left: 0px;
    margin-right: 30px;
    background-color: teal;
    }

    .about-item:last-child {
    margin-right: 0px;
    }
    /*============= img =====================*/
    img {   display: block;
            max-width: 100%;
            height: auto;
        }
    /*==============================================*/


    /*=============  team  =====================*/
    .team-list{
    display: flex;
    flex-wrap: nowrap;
           }
    ul.team-list{
        padding: 0px;
    }
    .team-item{
    width: 270px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 30px;
    background-color: var(--body-bg-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid transparent;
    }
    .team-img {
        margin-bottom: 30px;
        display: block;
            max-width: 100%;
            height: auto;
    }
    .text-team{
     margin-bottom: 30px;
    }
   



    .about-title, .team-title{
        margin-bottom: 50px;
        align-items: center;}
   
    /* =============  container============================= */
.header-container, .description-container, .about-container,
.team-cоntainer, .footer-container, .main-container-portfolio
 {  
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid tomato; */

}
.header-container-portfolio{
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--ctroke-color);}

    /* ========   Portfolio ""SETKA"  =========== */
    .group-list{
        display: flex;
        flex-wrap: wrap;
        
    }
    .group-item{
        width: 370px;

        margin-right: 30px;
        margin-bottom: 30px;
        border: 1px solid var(--border-color);
    }
    .group-item:nth-child(3n) {
        margin-right: 0px;

    }
    .group-item:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }

    .group-img{
    margin-bottom: 20px;
    }
    .group-title{
        margin-bottom: 4px;
        padding-left: 24px;
    }
    .group-text{
        margin-bottom: 20px;
        padding-left: 24px;
    }
    ul.group-list{
        padding: 0px;
    }
    .main-portfolio{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    /* ===================================== */

.navigation-container{
    display: flex;
    align-items: center;
}

.header-group-container{
    margin-left: auto;
    
}

/* Logo */
.logo-navigation{
    margin-right: 93px;
}
.navigation-list{
    display: flex;
    align-items: center;
}
.header-group-list{
    display: flex;
}
.item-navigation{
    margin-right: 50px;
}
.tel-header-group{
    margin-left: 50px;
}
.item-navigation:last-child, {
    margin-right: 0px;
}

.list{
    padding: 0px;
    margin: 0px;
    list-style: no;
}
/*header*/
.header {
background-color: var(--header-bg-color);
}
/*Hero*/
.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;
   
    background-color: var(--herofooter-bg-color);
    text-align: center;
}

/*Team*/
.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
background-color: var(--team-bg-secondhead) 
}
.footer{
    background-color: var(--herofooter-bg-color);
}



.hero-title{
margin-top: 0;
margin-bottom: 30px;
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--header-bg-color);
text-transform: uppercase;
letter-spacing: 0.06em;
/* background-color: tomato; */
}

.logo-navigation, .link-navigation {
    text-decoration: none;}
.logo-navigation {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--web-link-color);
}
.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--darkmain-color);
}
.footer-logo{
text-decoration: none;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--web-link-color);
}
.footer-logo-second{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--header-bg-color);
}

/* Header ссылки */
.link-header-group, .tel-header-group{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-cecond-color);
text-decoration: none;
}


.link-header-group:hover, 
.link-header-group:focus{
    color: var(--web-link-color);
}
.tel-header-group:hover,
.tel-header-group:focus {
    color: var(--web-link-color);
}
.footer-map:hover,
.footer-map:focus{
color: var(--web-link-color);
}
.footer-link:hover,
.footer-link:focus{
color: var(--web-link-color);
}
.footer-tel:hover,
.footer-tel:focus{
color: var(--web-link-color);
}

/* убирает маркер нумирации списка */

 .item-header-group, 
 .footer-item, .team-item, .about-item,
  .description-item, .item-navigation, 
  .filter-item, .group-item{
     list-style: none;}

     /* footer */
    .footer-link, .footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--Footer-adress);
    text-decoration: none;
    }
    .footer-map{
    color: var(--header-bg-color);
    text-decoration: none;
    }
    
    .footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--footer-adres-color);
    font-style: normal
    }

    /* team-section */
    .team {
    background-color: var(--team-bg-secondhead);
    }
    .team-title, .about-title{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: var(--text-main-color);
    }
    .team-section-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    }
    .text-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-cecond-color);
    }
    .description-second-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    text-transform: uppercase;
    }
    .description-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-cecond-color);
    }

    .link-navigation{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-main-color);
    }
    .link-navigation:hover, 
    .link-navigation:focus{
    color: var(--web-link-color);
    }


    /* портфолио */
    .group-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
    }
    .group-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-cecond-color);
    }

    /* button */
    .filter-btn{
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;

    margin-bottom: 50px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    background-color: var(--team-bg-secondhead);
    cursor: pointer;
    }

    .filter-btn:hover,
    .filter-btn:focus{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-bg-color);
    background-color: var(--web-link-color);
    cursor: pointer;
    }

    .filter-conteiner{
        padding-bottom: 94px;
        padding-bottom: 50px;
        
    }
    .filter-list{
        display: flex;
        align-items: center;
        justify-content: center;

    }
        .filter-item{
            margin-right: 8px;
        }
        .filter-item:last-child {
        margin-right: 0px;
        }
   

    .hero-btn{
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 200px;
    text-align: center;
    /* margin-bottom: 200px; */

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--header-bg-color);
    background-color: var(--web-link-color);
    text-decoration: none;
    cursor: pointer;
    }

    .hero-btn:hover,
    .hero-btn:focus{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    color: var(--header-bg-color);
    background-color: var(--hover-color);
    cursor: pointer;
    }
    /* .footer */
    .footer{
        padding-top: 60px;
        padding-bottom: 60px;
    }
   
    .footer-list{
        padding-left: 0px;
    }

    /*current navigation  */




    .link-navigation.current{
    color: var(--web-link-color);
    }

    /* visually-hidden */
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

   
